{% load static %}
{% include 'include/head.html' %}
  <body>
    
     <!--// Wrapper //-->
    <div class="kode-wrapper">
       <header id="mainheader" class="kode-header-absolute">

        <!--// TopBaar //-->
          <div class="kode-topbar">
		  <div class="container">
              <div class="row">
                <div class="col-md-6 kode_bg_white">
					<ul class="top_slider_bxslider">
						<li><span class="kode-barinfo"><strong>Latest News : </strong> Lorem ipsum dolor sit amet, cons ecte tuer adipiscing elit,</span></li>
						<li><span class="kode-barinfo"><strong>Latest News : </strong> Lorem ipsum dolor sit amet, cons ecte tuer adipiscing elit,</span></li>
						<li><span class="kode-barinfo"><strong>Latest News : </strong> Welcome visitor you can Login or Create an Account</span></li>
					</ul>
				</div>
                <div class="col-md-6">
                  <ul class="kode-userinfo">
                    <li><a href="#"><i class="fa fa-shopping-cart"></i> Cart</a>
                    </li>
                    <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModalTwo"><i class="fa fa-user-plus"></i> Register</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <!--// TopBaar //-->
		
		<div class="header-8">
			<div class="container">
				<!--NAVIGATION START-->
              {% include 'include/navigation.html' %}
			</div>
		</div>
      </header>
      <div class="kode-subheader subheader-height">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Blog Page</h1>
            </div>
          </div>
        </div>
      </div>
      <!--// SubHeader //-->

      <!--// Main Content //-->
      <div class="kode-content">

        <!--// Page Content //-->
        <section class="kode-pagesection">
          <div class="container">
            <div class="row">

                <div class="kode-pagecontent col-md-9">

                  <div class="kode-blog-list kode-fullwidth-blog">
                    <ul class="row">
                      {% for elem in announcements_list_view %}
                      <li class="col-md-12">
                        <div class="kode-time-zoon">
                          <time datetime="2008-02-14 20:00">{{elem.day}} <span>{{elem.month}}</span></time>
                          <h5><a href="#">{{elem.description}}</a></h5>
                        </div>
<!--                        <figure><a href="#"><img src="extra-images/blogfull-width-1.jpg" alt=""></a></figure>-->
                        <div class="kode-blog-info">
                          <ul class="kode-blog-options">
                            <li><a href="#"><i class="fa fa-user"></i> {{elem.author}}</a></li>
                            <li><a href="#"><i class="fa fa-comment"></i> 3 Comments</a></li>
                            <li><a href="#"><i class="fa fa-share-alt"></i> 12 Share</a></li>
                          </ul>
                          <ul class="kode-team-network">
                            <li><a class="fa fa-facebook" href="#"></a></li>
                            <li><a class="fa fa-twitter" href="#"></a></li>
                            <li><a class="fa fa-linkedin" href="#"></a></li>
                          </ul>
                          <p>{{elem.text}}</p>
                          <a href="{% url 'announcements_detail' elem.url %}"
                             class="kode-modrenbtn thbg-colorhover">Read More</a>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                    
                    <!--// Pagination //-->
                    <div class="pagination">
                      <a href="#"><i class="fa fa-angle-double-left"></i></a>
                      <a href="#">1</a>
                      <a href="#">2</a>
                      <span>3</span>
                      <a href="#">4</a>
                      <a href="#"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <!--// Pagination //-->

                  </div>

                </div>

                <aside class="kode-pagesidebar col-md-3">
                  
                  <div class="widget tab-widget">

                    <!-- Nav tabs -->
                    <ul class="widget-tabnav" role="tablist">
                      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Live</a></li>
                      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Result</a></li>
                      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Fixture</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="home">
                        <ul class="match-widget">
                          <li>
                            <div class="kode-cell">
                              <span>Valenciaca <small>2</small></span>
                            </div>
                            <div class="kode-cell">
                              <span class="kode-vs">vs</span>
                              <small>(91)</small>
                            </div>
                            <div class="kode-cell">
                              <span>Real Madrid <small>1</small></span>
                            </div>
                          </li>
                          <li>
                            <div class="kode-cell">
                              <span>Bristol City <small>2</small></span>
                            </div>
                            <div class="kode-cell">
                              <span class="kode-vs">vs</span>
                              <small>(91)</small>
                            </div>
                            <div class="kode-cell">
                              <span>Real Soccer <small>1</small></span>
                            </div>
                          </li>
                          <li>
                            <div class="kode-cell">
                              <span>Valenciaca <small>2</small></span>
                            </div>
                            <div class="kode-cell">
                              <span class="kode-vs">vs</span>
                              <small>(91)</small>
                            </div>
                            <div class="kode-cell">
                              <span>Real Madrid <small>1</small></span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="profile">
                        <ul class="match-widget">
                          <li>
                            <div class="kode-cell">
                              <span>Bristol City <small>2</small></span>
                            </div>
                            <div class="kode-cell">
                              <span class="kode-vs">vs</span>
                              <small>(91)</small>
                            </div>
                            <div class="kode-cell">
                              <span>Real Soccer <small>1</small></span>
                            </div>
                          </li>
                          <li>
                            <div class="kode-cell">
                              <span>Valenciaca <small>2</small></span>
                            </div>
                            <div class="kode-cell">
                              <span class="kode-vs">vs</span>
                              <small>(91)</small>
                            </div>
                            <div class="kode-cell">
                              <span>Real Madrid <small>1</small></span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="messages">
                        <ul class="match-widget">
                          <li>
                            <div class="kode-cell">
                              <span>Balenciaca <small>2</small></span>
                            </div>
                            <div class="kode-cell">
                              <span class="kode-vs">vs</span>
                              <small>(91)</small>
                            </div>
                            <div class="kode-cell">
                              <span>Real Madrid <small>1</small></span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>

                  <div class="widget kode-recent-blog">
                    <div class="kode-widget-title"> <h2>Recent Blog Post</h2> </div>
                    <ul>
                      <li>
                        <figure><a class="kode-recent-thumb" href="#"><img src="extra-images/recentblog-widget1.jpg" alt=""></a>
                          <figcaption>
                            <h6><a href="#">Never Give Up On Yourself</a></h6>
                            <ul>
                              <li>05 May 2015</li>
                              <li>by <a href="#">John</a></li>
                            </ul>
                          </figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure><a class="kode-recent-thumb" href="#"><img src="extra-images/recentblog-widget2.jpg" alt=""></a>
                          <figcaption>
                            <h6><a href="#">Hopefull Players Always</a></h6>
                            <ul>
                              <li>05 May 2015</li>
                              <li>by <a href="#">John</a></li>
                            </ul>
                          </figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure><a class="kode-recent-thumb" href="#"><img src="extra-images/recentblog-widget3.jpg" alt=""></a>
                          <figcaption>
                            <h6><a href="#">Standalone Quality Shoes</a></h6>
                            <ul>
                              <li>05 May 2015</li>
                              <li>by <a href="#">John</a></li>
                            </ul>
                          </figcaption>
                        </figure>
                      </li>
                    </ul>
                  </div>

                  <div class="widget widget-recent-news">
                    <div class="kode-widget-title"> <h2>Recent News</h2> </div>
                    <ul>
                      <li>
                        <div class="medium-info">
                          <time datetime="2008-02-14 20:00">25</time>
                          <div class="medium-title">
                            <h6><a href="#">Sed ut perspiciatis unde omnis iste</a></h6>
                            <ul class="kode-blog-options">
                              <li><a href="#"><i class="fa fa-heart"></i> 305</a></li>
                              <li><a href="#"><i class="fa fa-comment"></i> 8</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="medium-info">
                          <time datetime="2008-02-14 20:00">30</time>
                          <div class="medium-title">
                            <h6><a href="#">Sed ut perspiciatis unde omnis iste</a></h6>
                            <ul class="kode-blog-options">
                              <li><a href="#"><i class="fa fa-heart"></i> 305</a></li>
                              <li><a href="#"><i class="fa fa-comment"></i> 8</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="medium-info">
                          <time datetime="2008-02-14 20:00">15</time>
                          <div class="medium-title">
                            <h6><a href="#">Sed ut perspiciatis unde omnis iste</a></h6>
                            <ul class="kode-blog-options">
                              <li><a href="#"><i class="fa fa-heart"></i> 305</a></li>
                              <li><a href="#"><i class="fa fa-comment"></i> 8</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="widget widget_categories">
                    <div class="kode-widget-title"> <h2>CATEGORIES</h2> </div>
                    <ul>
                      <li><a href="#">Premier League</a> (18)</li>
                      <li><a href="#">FA Cup</a> (11)</li>
                      <li><a href="#">Europe League</a> (07)</li>
                      <li><a href="#">C. Shields</a> (04)</li>
                    </ul>
                  </div>

                  <div class="widget kode-twitter-widget">
                    
                    <div class="twitter-info">
                      <h6>Sporty League On Twiter</h6>
                      <span>Tweets for list by Sportyleague</span>
                      <i class="fa fa-twitter"></i>
                    </div>
                    <ul>
                      <li>
                        <a href="#" class="tweet-thumb"><img src="extra-images/twitter-1.jpg" alt=""></a>
                        <div class="tweet-list">
                          <a href="#"><strong class="thcolor">upthemes</strong> Check out Day 321 - Tweet tweet </a>
                          <span>12 minutes ago</span>
                        </div>
                      </li>
                      <li>
                        <a href="#" class="tweet-thumb"><img src="extra-images/twitter-1.jpg" alt=""></a>
                        <div class="tweet-list">
                          <a href="#"><strong class="thcolor">upthemes</strong> Check out Day 321 - Tweet tweet </a>
                          <span>12 minutes ago</span>
                        </div>
                      </li>
                      <li>
                        <a href="#" class="tweet-thumb"><img src="extra-images/twitter-1.jpg" alt=""></a>
                        <div class="tweet-list">
                          <a href="#"><strong class="thcolor">upthemes</strong> Check out Day 321 - Tweet tweet </a>
                          <span>12 minutes ago</span>
                        </div>
                      </li>
                      <li>
                        <a href="#" class="tweet-thumb"><img src="extra-images/twitter-1.jpg" alt=""></a>
                        <div class="tweet-list">
                          <a href="#"><strong class="thcolor">upthemes</strong> Check out Day 321 - Tweet tweet </a>
                          <span>12 minutes ago</span>
                        </div>
                      </li>
                      <li>
                        <a href="#" class="tweet-thumb"><img src="extra-images/twitter-1.jpg" alt=""></a>
                        <div class="tweet-list">
                          <a href="#"><strong class="thcolor">upthemes</strong> Check out Day 321 - Tweet tweet </a>
                          <span>12 minutes ago</span>
                        </div>
                      </li>
                    </ul>

                  </div>

                  <div class="widget widget-gallery">
                    <div class="kode-widget-title"> <h2>Gallery</h2> </div>
                    <ul>
                      <li><a href="#"><img src="extra-images/widgetgallery-1.jpg" alt=""></a></li>
                      <li><a href="#"><img src="extra-images/widgetgallery-2.jpg" alt=""></a></li>
                      <li><a href="#"><img src="extra-images/widgetgallery-3.jpg" alt=""></a></li>
                      <li><a href="#"><img src="extra-images/widgetgallery-2.jpg" alt=""></a></li>
                      <li><a href="#"><img src="extra-images/widgetgallery-3.jpg" alt=""></a></li>
                      <li><a href="#"><img src="extra-images/widgetgallery-2.jpg" alt=""></a></li>
                    </ul>
                  </div>

                </aside>

              </div>
            </div>
        </section>
        <!--// Page Content //-->

      </div>
      <!--// Main Content //-->

      <!--// NewsLatter //-->
      <div class="kode-newslatter kode-bg-color" >
        <span class="kode-halfbg thbg-color"></span>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>Subcribe Our Monthly Newsletter</h3>
            </div>
            <div class="col-md-6">
              <form>
                <input type="text" placeholder="Your E-mail Adress" name="s" required>
                <label><input type="submit" value=""></label>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--// NewsLatter //-->

       <footer id="footer1">
		<!--Footer Medium-->
		<div class="footer-medium">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="about-widget">
							<h3>About Kickoff</h3>
							<ul class="kode-form-list">
							  <li><i class="fa fa-home"></i> <p><strong>Address:</strong> 805 omnis iste natus error.</p></li>
							  <li><i class="fa fa-phone"></i> <p><strong>Phone:</strong> 111 8756 22  777 4456 112</p></li>
							  <li><i class="fa fa-envelope-o"></i> <p><strong>Email:</strong> Info@sportyleague.com</p></li>
							</ul>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="widget widget-flickr">
							<h3>Flickr</h3>
							<ul>
								<li><a href="#"><img alt="" src="extra-images/widgetgallery-1.jpg"></a></li>
								<li><a href="#"><img alt="" src="extra-images/widgetgallery-2.jpg"></a></li>
								<li><a href="#"><img alt="" src="extra-images/widgetgallery-3.jpg"></a></li>
								<li><a href="#"><img alt="" src="extra-images/widgetgallery-1.jpg"></a></li>
								<li><a href="#"><img alt="" src="extra-images/widgetgallery-2.jpg"></a></li>
								<li><a href="#"><img alt="" src="extra-images/widgetgallery-3.jpg"></a></li>
								<li><a href="#"><img alt="" src="extra-images/widgetgallery-1.jpg"></a></li>
								<li><a href="#"><img alt="" src="extra-images/widgetgallery-2.jpg"></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-us-widget">
							<h3>Connect with us</h3>
							<p>Follow us to stay in the loop on what’s<br>
							Sed ut perspiciatis unde omnis iste natus<br> error sit Sed ut perspiciatis unde omnis iste<br> natus error sit</p>
							<ul class="social-links1">
								<li>
									<a href="#" class="tw-bg1"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#" class="fb-bg1"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#" class="youtube-bg1"><i class="fa fa-youtube"></i></a>
								</li>
								<li>
									<a href="#" class="linkedin-bg1"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="#" class="tw-bg1"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#" class="fb-bg1"><i class="fa fa-facebook"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Footer Medium End-->
	
    
      </footer>
      <!--// Contact Footer //-->

      <div class="kode-bottom-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>©2015 KickOff. All Right Reserved</p>
            </div>
            <div class="col-md-6">
              <a href="#" id="kode-topbtn" class="thbg-colortwo"><i class="fa fa-angle-up"></i></a>
            </div>
          </div>
        </div>      </div>
<div class="clearfix clear"></div>
</div>
    <!--// Wrapper //-->

    <!-- jQuery (necessary for JavaScript plugins) -->
     {% include 'include/scripts.html' %}

  </body>
</html>