{% load static %}
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.flexslider.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/jquery.countdown.js'%}"></script>
<script src="{% static 'js/waypoints-min.js'%}"></script>
<script src="{% static 'js/jquery.bxslider.min.js'%}"></script>
<script src="{% static 'js/bootstrap-progressbar.js'%}"></script>
<script src="{% static 'js/jquery.accordion.js'%}"></script>
<script src="{% static 'js/jquery.circlechart.js'%}"></script>
<script src="{% static 'js/jquery.prettyphoto.js'%}"></script>
<script src="{% static 'js/kode_pp.js'%}"></script>
<script src="{% static 'js/functions.js'%}"></script>